<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="InvalidConnectionString"/>
    <add name="InvalidConnectionString" connectionString="InvalidConnectionStringParameters"/>
    <remove name="SimpleRelmMySql" />
    <add name="SimpleRelmMySql" connectionString="server=localhost;database=simple_relm;user id=simplerelmuser;password=simplerelmpassword" providerName="MySql.Data.MySqlClient"/>
    <remove name="SimpleRelmSqlExpress" />
    <add name="SimpleRelmSqlExpress" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SimpleRelm;Integrated Security=True" providerName="System.Data.SqlClient" />
    <remove name="SimpleRelmSqlServerCe" />
    <add name="SimpleRelmSqlServerCe" connectionString="Data Source=|DataDirectory|\SimpleRelm.sdf;Flush Interval=1;" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
</configuration>